.feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    overflow-y: scroll;
    max-width: 1000px;
}

.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feed__header {
    color: var(--twitter-black);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid var(--twitter-background);
    min-height: 60px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.feed__header > h1 {
    font-size: 26px;
}