.tweetBox{
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: 14px solid var(--twitter-background);
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}

.tweetBox__input{
    color: var(--twitter-gray);
    display: flex;
    padding: 20px;
}

.tweetBox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

.tweetBox__input > input:focus {
    outline: none;
}

.tweetBox__buttons {
    padding: 2px 20px;
    display: flex;
    justify-content: space-between;
}

.tweetBox__image {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.tweetBox__imageGroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tweetBox__imageToPostContainer {
    display: flex;
    align-items: center;
}

.tweetBox__imageToPost{
    width: 7rem;
}

.tweetBox__imageToPostIcon{
    color: red;
    cursor: pointer;
}

.tweetBox__inputImage {    
    border: none;
    color: var(--twitter-color);
    font-size: 14px !important;
    min-width: 400px;
    margin-top: 20px;
}

.tweetBox__inputImage:focus {    
    outline: none;
}

.tweetBox__button {    
    background-color: var(--twitter-color);
    border: none;
    height: 2.5rem;
    color: white;
    font-size: 16px;
    font-weight: 900;
    min-height: 48px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    
    border-radius: 9999px;
}