.sidebarOption {
    color: var(--twitter-black);
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 9999px;
    width: max-content;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
}

.sidebarOption:hover {
    background-color: #e8f5fe;
    border-radius: 9999px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.sidebarOption > .MuiSvgIcon-root {
    padding: 20px;
    font-size: 36px;
}

.sidebarOption > span {
    color: var(--twitter-black);;
    font-size: 24px;
    font-weight: 800;
    margin-right: 20px;
}

.sidebarOption--active {
    color: var(--twitter-color)
}